@model IEnumerable<ControlITLA.Models.Estudiante>

@{
    ViewData["Title"] = "Registro";
}

<h3>Estudiantes Registrados</h3>
<hr />

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Agregar Estudiante</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                <a asp-action="AddOrEdit" asp-route-id="@item.EstudianteID"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.EstudianteID" class="text-danger ml-1" onclick="return confirm('Estas Seguro que quieres borrar este registro?')" ><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
